* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: linear-gradient(to right, lightblue, pink);
}

.header > h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card {
  max-width: 18rem;
  height: auto;
  padding: 24px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, lightblue, pink);
  box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 5px;
  margin: 10px;


}

.card-img {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-intro {
  padding: 13px 0;
}

h1,
h3 {
  color: #fff;
}
.container{
  background: linear-gradient(to right, brown, pink);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container h1{
  text-align: center;
}
